.container1,
.book-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    width: 100%;
    height: 100vh;
    background: #2d6f75;
}

.book-content {
    width: 65%;
    min-width: 350px;
    max-width: 550px;
    height: 480px;
    position: relative;
    perspective: 1000px;
    transition: 1s;
}

.book {
    position: absolute;
    width: 85%;
    height: 100%;
    transition: 1s;
    transform-style: preserve-3d;
    transform-origin: left;
}

.face-front,
.face-back {
    width: 100%;
    height: 100%;
    background: white;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

.face-front {
    box-shadow: inset 3px 0px 20px -7px black;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.face-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(-1px) rotateY(180deg);
    box-shadow: inset -3px 1px 20px -7px black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#portada {
    background: url('/img/tapa.jpg');
}

#portada-back {
    background: url('/img/imgAssis.jpg');
}

#portada,
#portada-back {
    background-size: 100% 100%;
}

/* Clases que se agregaran con Javascript */

.trnsf {
    transform: translateX(76px);
}

.trnsf-reset {
    transform: translateX(0px);
}

/* @media para hacer el texto responsivo */

@media screen and (max-width: 700px) {
    p {
        font-size: 12px;
    }

    .book-content {
        width: 50%;
        min-width: 170px;
        max-width: 500px;
        height: 380px;
        position: relative;
        perspective: 1000px;
        transition: 1s;
    }
}

// book <p>
.book-content {

    h3 {
        font-size: 26px;
        margin: 35px 0;
    }

    p {
        font-size: 1rem
    }
}

.titleBook {
    font-size: 1.3rem;
}

.dissapear {
    display: none;
}

// book 
@media (max-width: 700px) {

    .book-content {
        height: 300px !important;
        width: 200px !important;
        margin-left: 15px;
    }

    .book h3 {
        font-size: 19px !important;
        margin-top: -5px !important;
        margin-bottom: 10px !important;
    }

    p {
        font-size: 14px !important;
    }

    .titleBook {
        margin-top: 7px;
        font-size: 16px;
    }
}